.droppable {
  height: 17vh;
  width: 17vh;
  border: 2px solid black;
  margin: 2px;
  border-radius: 4px;
}

.droppableHover {
  background-color: rgba(216, 216, 216, 0.3);
  border: 4px solid black;
  margin: 0;
}

.droppableActive {
  border-style: dashed;
}
