.matchViewportHeight {
  height: calc(100vh - var(--app-bar-height)) !important;
  z-index: -1;
}

.gridBackground {
  background-image: linear-gradient(rgb(240, 240, 240) 2px, transparent 2px),
    linear-gradient(90deg, rgb(240, 240, 240) 2px, transparent 2px),
    linear-gradient(rgb(245,245,245) 1px, transparent 1px),
    linear-gradient(90deg, rgb(245,245,245) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.gridBackground::-webkit-scrollbar {
  display: none;
}

.startButton {
  bottom: 1em;
  position: fixed !important;
  left: 1em;
}

.infoResetButton {
  bottom: 1em;
  position: fixed !important;
  right: 1em;
}

.sidebar_upper {
  padding-top: 20px;
}

.service_header {
  text-align: center;
}

.draggable_wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
