:root {
  --splitter-size: 8px;
}

.splitter-layout {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.splitter-layout .layout-pane {
  position: relative;
  flex: 0 0 auto;
  overflow-y: auto;
  overflow-x: auto;
}

.splitter-layout .layout-pane.layout-pane-primary {
  flex: 1 1 auto;
}

.splitter-layout > .layout-splitter {
  flex: 0 0 auto;
  width: var(--splitter-size);
  height: 100%;
  cursor: col-resize;
  background-color: #f1f1f1;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  box-sizing: border-box;
  padding: 0 1px;
  background-clip: content-box;
}

.splitter-layout .layout-splitter:hover {
  background-color: #bbb;
}

.splitter-layout.layout-changing {
  cursor: col-resize;
}

.splitter-layout.layout-changing > .layout-splitter {
  background-color: #aaa;
}

.splitter-layout.splitter-layout-vertical {
  flex-direction: column;
}

.splitter-layout.splitter-layout-vertical.layout-changing {
  cursor: row-resize;
}

.splitter-layout.splitter-layout-vertical > .layout-splitter {
  width: 100%;
  height: var(--splitter-size);
  cursor: row-resize;
  border: initial;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  box-sizing: border-box;
  padding: 1px 0;
  background-clip: content-box;
}
