.button_group {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

.start_button {
  margin-bottom: 10px!important;
}

.title {
  padding: 3em 0 1em 0;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons_wrapper {
  padding: 2.5em 0 1em 0;
}

.titleName {
  margin-bottom: -0.5em !important;
  padding-bottom: 0.5em;
}

.icon {
  flex-grow: 1;
  cursor: pointer;
  transition: transform .2s;
}

.icon:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.icon:hover {
  transform: scale(1.15);
}

.icon_active {
  transform: scale(1.1);
}

.content {
  min-height: calc(100vh - 340px)
}

footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  height: 16px;
  font-size: 16px;
}

@media(min-width: 700px) {
  .button_group {
    flex-direction: row;
  }
  .icons_wrapper {
    padding: 4em 0 1em 0;
  }
  .content {
    min-height: calc(100vh - 250px)
  }
}
