.board {
    height: 100%;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    display: grid;
    position: absolute;
    min-width: min-content;
    min-height: min-content;
}

.thumbnail {
    padding: 0.2em;
}

.boardElement {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowTarget {
    display: inline-block;
}

.svgOverlay {
    position: absolute;
    overflow: visible;
}
