:root {
  --app-bar-height: 64px;
}

.toolBar {
  justify-content: space-between;
  height: var(--app-bar-height);
  white-space: nowrap;
}

.fixed_size_app_bar {
  height: var(--app-bar-height);
}

.toolBarName {
  background-image: url("../../assets/img/awslogo.svg");
  background-repeat: no-repeat;
  background-size: 2.2em;
  background-position: 0 0.5em;
  margin-bottom: -0.5em !important;
  padding-bottom: 0.5em;
}

.toolBarName::after {
  content: "Boot Camp";
}

.pointsName::after {
  content: "Punkte"
}

@media (max-width: 550px) {
  .toolBarName::after {
    content: "BC";
  }
  .pointsName::after {
      content: "Pkt."
  }
}

@media (max-width: 375px) {
  .toolBarNameContainer {
    display: none !important;
  }
}

.link {
  color: white;
  text-decoration: none;
}

.starContainer {
  padding-left: 0.5em;
}

.star {
  font-size: 2.3em !important;
  color: rgb(231, 231, 231);
}

.starFilled {
  color: rgb(248, 192, 50);
}

.star:nth-child(2) {
  margin: 0 -0.2em;
}

.levelName {
  width: 100%;
  padding-right: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.levelPoints {
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 1em;
  padding: 0 0.4em;
  font-size: 0.8em;
}
