.markdownContainer {
  font-family: "Roboto", sans-serif;
  padding: 1.5em;
  text-align: left;
}

.markdownContainer pre {
  background-color: #f6f8fa;
  padding: 1em;
  border-radius: 5px;
}

.markdownContainer a {
  color: #1b69b6;
  text-decoration: none;
}

.markdownContainer a:hover {
  text-decoration: underline;
}

.markdownContainer h1, .markdownContainer h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

.materialIcons {
  font-size: 1em !important;
  vertical-align: middle;
  margin-left: 0.2em;
}
