.panelWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.panelInner {
  position: relative;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: auto;
}
