.username {
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userIcon {
 margin-left: 0.3em;
}

.headerButton {
  max-width: 12em;
}

@media (max-width: 550px) {
  .headerButton {
    max-width: 9em;
  }
}
